<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Registro</h1>

            <hr>

            <form action="/registro" method="POST">

                <div class="form-group">
                    <input type="email" class="form-control" name="username" id="username" placeholder="Usuario">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Nombre">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Apellidos">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" name="pwd" id="pwd" placeholder="Contraseña">
                </div>

                <div class="form-group">

                    <select name="tid" id="tid" class="form-control">
                        <option value="">Tipo de documento de identidad</option>
                        <option>DNI</option>
                        <option>NIE</option>
                        <option>NIF</option>
                    </select>

                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="nid" id="nid"
                        placeholder="Numero de documento de identidad">
                </div>

                <div class="form-group ">
                    <label class="btn btn-default form-group">
                        Browse <input type="file" hidden>
                    </label>
                </div>

                <button type="submit" class="btn btn-outline-dark btn-block btn-lg">Registrarme</button>

            </form>

            {{#if errorMessage}}
            <div
                style="margin-top: 20px; padding: 5px; color: white; background: rgb(0, 94, 20); text-align: center; font-size: .95em">
                {{errorMessage}}
            </div>
            {{/if}}

        </div>

    </div>

</div>