<div class="container">

    <h1>{{name}}</h1>

    <hr>

    <div class="row">

        <div class="col-md-8">
            <p><strong>Localización</strong></p>
        </div>

        <div class="col-md-4">

            <p><strong>Latitud</strong>: {{location.coordinates.[0]}}</p><br>
            <p><strong>Longitud</strong>:{{location.coordinates.[1]}}</p>

        </div>

    </div>

    <hr>

    <a href="/almacenes" class="btn btn-dark">Volver</a>

</div>