<section id="banner-wrap" class="slides">

    <canvas id="banner-canvas"></canvas>

    <div id="banner-carousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner ">

            <div class="carousel-item active ">

                <div class="container ">

                    <div class="col-md-12 text-center ">
                        <h1>Geolocalización de almacenes</h1>
                        <p>Lleva un control detallado de stock e inventario</p>

                    </div>

                </div>

            </div>

            <div class="carousel-item">

                <div class="container">

                    <div class="col-md-12 text-center">

                        <h1>Inventario de equipos</h1>
                        <p>Controla cada articulo de tu almacen en tiempo real.</p>

                    </div>

                </div>

            </div>

            <div class="carousel-item">

                <div class="container">

                    <div class="col-md-12 text-center">
                        <h1>Logistica integral</h1>
                        <p>Envios controlados desde la plataforma.</p>
                    </div>

                </div>

            </div>

        </div>

        <a class="carousel-control-prev" href="#banner-carousel" role="button" data-slide="prev">

            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>

        </a>

        <a class="carousel-control-next" href="#banner-carousel" role="button" data-slide="next">

            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>

        </a>

    </div>

    <div class="container icons">

        <div class="row">
            <div class="col-4"> <img src="/images/warehouse.png" alt="warehouse" class="rounded mx-auto d-block">
                <br>
                <a href="/almacenes" class="btn btn-outline-dark btn-block">Almacen</a>
            </div>
            <div class="col-4"><img src="/images/equipment.png" alt="equipment" class="rounded mx-auto d-block">
                <br>
                <a href="/equipamiento" class="btn btn-outline-dark btn-block">Equipamiento</a>
            </div>
            <div class="col-4"><img src="/images/shipping.png" alt="shipping" class="rounded mx-auto d-block">
                <br>
                <a href="/envios" class="btn btn-outline-dark btn-block">Envios</a>
            </div>

        </div>



    </div>

</section>